@model Jquery_CRUD_MVC.Models.EmployeeViewModel
@{
    ViewBag.Title = "Index";

}

<h2>All Data From DataBase</h2>
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

    .container-two {
        border-radius: 5px;
         
        padding: 20px;
        opacity: 0.99;
    }

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>

@{/*  Reference */ }
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />

@{/* Reference */ }
 
<div class="container">
    <button class="btn btn-info" id="myBtn" value="Add New">Add New</button>
    <br />

    <div id="myModal" class="modal">
        <div class="modal-content" style="margin-top:11%;margin-left:25%;margin-right:25%;height:auto;  opacity: 0.999 ;">
         

            <div class="container-two">
                
                    
                        <h3 style="background-color:purple;color:#ffffff;padding:20px;">Please Enter Details</h3>
                    
                
                
                <div class="row">
                        <div class="col-25">
                            <label for="name">Name</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="name" name="name" placeholder="Your name..">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                            <label for="mobile">Mobile</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="mobile" name="mobile" placeholder="Your Mobile No">
                        </div>
                    </div>
                    
                    <div class="row">
                        <input type="submit" value="Add To Main" id="AddNewCall">
                        <button class="btn btn-info" id="close" value="Add New">Close</button>
                    </div>
              
            </div>
        </div>

    </div>
</div>
 
<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    // Get the <span> element that closes the modal
    var span = document.getElementById("close");
     btn.onclick = function () {
        modal.style.display = "block";
    }
     span.onclick = function () {
        modal.style.display = "none";
    }
        var btnAddNew = document.getElementById("AddNewCall");
        btnAddNew.onclick = function () {
        var name = $('#name').val();
        var mobile = $('#mobile').val();
        $.ajax({
            url: "/ajax/addDataToMain",
            type: "POST",
            data: { name: name, mobile: mobile },
            success: function (data)
            {
                updatetable();
            }
               
        })
    }





</script>
<div class="container" style="margin-top:3%">
    <table id="ShowDetail" class="table table-hover">
        <thead style="background-color:red;color:#ffffff;">
            <tr>
                <th>#Uid</th>
                <th>Mobile No</th>
                <th>Name</th>
                <th>ISActive</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Enable / Disable</th>
            </tr>
        </thead>
        <tbody id="ShowDetailbody"></tbody>
    </table>

</div>

<script> 
   $(document).ready(function ()
    {
        updatetable();
    })
   function updatetable() {
        var txt = "";
        $("#ShowDetailbody").html(txt);
        $.ajax({
            url: '/Ajax/GetRecords',
            type: "GET",
            dataType: "JSON",
            //data: { userName: userAlias.value }, //Use the value property here
            success: function (data) {
              console.log(data);
               data = JSON.parse(data);
                console.log(data);
                var idtype = "";
                $.each(data, function (i, databind) {
                    txt += "<tr><td>" + databind.Uid + "</td>";
                    txt += "<td>" + databind.mobileNo + "</td>";
                    txt += "<td>" + databind.Name + "</td>";
                    txt += "<td>" + databind.active + "</td>";
                    txt += "<td>" + databind.role + "</td>";
                    txt += "<td><a href=" + databind.Uid + ">Update</a></td>";
                    txt += "<td>"; if (databind.active == false) { txt += "<a href='#' id=" + databind.Uid + " class='enable' style='color:red;'>Do Enable &#x2718; </a>"; } else { txt += "<a href = '#' id = " + databind.Uid + " class='disable' style = 'color:green;'> Do Disable &#x2714;</a>"; };
                    "</td></tr> ";
                });

                $("#ShowDetailbody").html(txt); //Move code to set text here
            }
        });


        $(document).on("click", ".disable", function ()
        {
            var Id = $(this).attr('id'); 
          

            $.ajax({
                url: "/ajax/disable",
                type: "POST",
                data: { id: Id,},
                success: function (data) {
                    updatetable();
                }

            })

        });


        $(document).on("click", ".enable", function ()
        {
            var Id = $(this).attr('id'); 
          

            $.ajax({
                url: "/ajax/enable",
                type: "POST",
                data: { id: Id,},
                success: function (data) {
                    updatetable();
                }

            })

        });

    }
</script>